<!-- Data of hotel  -->

<div id="main_container" *ngIf="products.length > 0">
  <div class="card" *ngFor="let product of products">
    <a [routerLink]="['/home', product.id]">
      <img [src]="product.homeMainPic" alt="Product Image" />
    </a>
    <div id="data_info">
      <div class="stars">
        <h3 class="title">{{ product.name }}</h3>
        <p>⭐ {{ product.stars }}</p>
      </div>
      <h4 class="title">{{ product.location.toUpperCase() }}</h4>
      <p class="price">$ {{ product.price }}</p>
    </div>
  </div>
</div>

<div id="pagination_btn">
  <button type="button" (click)="prev()" class="btn btn-secondary">Prev</button>
  <button type="button" class="btn btn-dark rounded-circle">{{ page }}</button>
  <button type="button" (click)="next()" class="btn btn-secondary">Next</button>
</div>

<app-footer></app-footer>
