.container {
  width: 30%;
  box-shadow: #110c2e26 0px 48px 100px 0px;
  padding: 20px;
  border-radius: 10px;
}
.custom_nav {
  background-color: #f1f1f1;
}
@media screen and (min-width: 100px) and (max-width: 450px) {
  .container {
    width: 100%;
  }
}
