<div class="container custom_cont">
  <div class="row">
    <div class="col-md-8">
      <img [src]="dataItem.homeMainPic" class="img-fluid" alt="Big Image" />
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <img
            [src]="dataItem.carouselPic1"
            class="img-fluid"
            alt="Small Image 1"
          />
        </div>
        <p></p>
        <div class="col-md-12">
          <img
            [src]="dataItem.carouselPic2"
            class="img-fluid"
            alt="Small Image 2"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-heading">{{ dataItem.name }}</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        consequat arcu eget orci aliquet, at elementum ex scelerisque.
      </p>
    </div>
  </div>
</div>
