<div id="main_container">
  <div class="content_container">
    <div class="mini_content">
      <div>
        <h1>Luxury Apartment.</h1>
      </div>
      <div style="height: 40px"></div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
          facere.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Book Now</button>
      </div>
    </div>
  </div>
  <div class="img_continer">
    <img
      src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-44970955/original/801785b8-64d5-45d3-a25d-a5f62cdf2ed2.jpeg?im_w=720"
      alt="banner"
    />
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container2">
  <div class="head">
    <h1>Heading</h1>
  </div>

  <div id="image_container">
    <div class="left_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-746919020186561409/original/98f1a8c7-a263-46a8-8757-1f5d9d39f8bb.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>
        <h2>Head1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut ratione
          voluptate quaerat eligendi ipsa nihil consequatur quis dignissimos
          eius esse!
        </p>
      </div>
    </div>

    <div class="right_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-30924995/original/df2e1939-dbf6-4adb-8bb0-c9eb3a9176a1.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>

        <h2>Head2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut ratione
          voluptate quaerat eligendi ipsa nihil consequatur quis dignissimos
          eius esse!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container">
  <div class="img_continer2">
    <img
      src="https://a0.muscache.com/im/pictures/miso/Hosting-622270733741689942/original/ea5e431e-2aa5-4759-b18f-84ac5199cfdd.jpeg?im_w=720"
      alt="banner"
    />
  </div>
  <div class="content_container">
    <div class="mini_content">
      <div>
        <h1>Luxury Apartment.</h1>
      </div>
      <div style="height: 40px"></div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
          facere.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Visit Now</button>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container2">
  <div class="head">
    <h1>Heading</h1>
  </div>

  <div id="image_container">
    <div class="left_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-12394542/original/f374257d-c629-48f4-9986-0d43c76af217.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>
        <h2>Head1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut ratione
          voluptate quaerat eligendi ipsa nihil consequatur quis dignissimos
          eius esse!
        </p>
      </div>
    </div>

    <div class="right_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-795439140237488860/original/f9f266cb-f716-4b1e-8a01-a5f457697214.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>

        <h2>Head2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut ratione
          voluptate quaerat eligendi ipsa nihil consequatur quis dignissimos
          eius esse!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- -----------Footer---------------- -->
<app-footer></app-footer>
