#main_container {
  width: 90%;
  height: 80vh;
  margin: auto;
  align-items: center;
  display: flex;
}
img {
  border-radius: 10px;
}
#main_container div {
  width: 50%;
}

.img_continer {
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}
.img_continer img {
  width: 500px;
  height: 500px;
  transition: transform 2s ease;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img_continer img:hover {
  transform: scale(1.1);
}
.img_continer2 {
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}
.img_continer2 img:hover {
  border-radius: 10px;
  transform: scale(1.1);
}
.img_continer2 img {
  width: 400px;
  height: 400px;
  transition: transform 2s ease;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img_continer2 img:hover {
  border-radius: 10px;
  transform: scale(1.1);
}
.mini_content {
  width: 100%;
  margin: auto;
}
.mini_content div {
  width: 125% !important;
}
.mini_content div h1 {
  font-size: 4rem;
}
.mini_content div p {
  font-size: 1.5rem;
}
.custom-btn {
  padding: 15px 25px;
  font-size: 1.2rem;
  border-radius: 20px;
}
/* --------------------------------------- */
#main_container2 {
  width: 80%;
  height: 80vh;
  margin: auto;
}
.head {
  height: 100px;
  width: 100%;
  text-align: center;
  align-items: center;
}
.head h1 {
  font-size: 3.5rem !important ;
  margin-top: 20px;
}
#image_container {
  display: flex;
  align-items: center;
}
.left_img,
.right_img {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.space2 {
  height: 30px;
  width: 100%;
}
.data-img {
  margin: auto;
  width: 80%;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
}

#image_container img {
  width: 100%;
  transition: transform 2s ease;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#image_container img:hover {
  transform: scale(1.1);
}

/* ------------------Footer--------------------- */
/* To center the content vertically in smaller screens */
.banner-container {
  display: flex;
  align-items: center;
  display: none;
}

.content-container {
  padding: 20px;
}
.banner-container {
  padding: 20px;
}
.card {
  margin-bottom: 20px;
}
.card img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.custon_carousal {
  width: 90%;
  margin: auto;
}
.main_imgs {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 80vh !important;
}
.main_imgs h3 {
  color: black !important;
  font-size: 2.7rem;
}
.main_imgs p {
  color: black !important;
  font-size: 1.5rem;
}
.main_imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* To center the content of the cards on smaller screens */
@media (max-width: 767px) {
  .card-body {
    text-align: center;
  }
}

@media screen and (min-width: 100px) and (max-width: 450px) {
  #main_container {
    display: none !important;
  }
  .banner-container {
    display: block !important;
  }
  #main_container2 {
    display: none !important;
  }
  .custon_carousal {
    height: 100%;
  }
  .custon_carousal img {
    width: 100%;
  }
}
