<div
  id="carouselExampleIndicators"
  class="carousel slide custon_carousal"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active main_imgs">
      <img
        class="d-block w-100"
        src="https://a0.muscache.com/im/pictures/81aaba9d-ec2b-4f83-ab67-1f4c6dbccc17.jpg?im_w=720"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Enchanted Forest Retreat</h3>
        <p>
          Step into a magical realm of towering trees, where dreams come alive
          with wonder.
        </p>
      </div>
    </div>
    <div class="carousel-item main_imgs">
      <img
        class="d-block w-100"
        src="https://a0.muscache.com/im/pictures/miso/Hosting-40282903/original/72c66a59-a92f-4579-a1c1-40bf679ce091.jpeg?im_w=720"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Tranquil Haven Cottage</h3>
        <p>
          Escape to peace, surrounded by nature's beauty - a perfect hideaway
          for rejuvenation.
        </p>
      </div>
    </div>
    <div class="carousel-item main_imgs">
      <img
        class="d-block w-100"
        src="https://a0.muscache.com/im/pictures/miso/Hosting-51835140/original/02f6e85a-a996-44d9-aa7a-f76077517adb.jpeg?im_w=720"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Serene Sea Breeze Villa</h3>
        <p>
          Indulge in coastal luxury, where gentle waves and salty air embrace
          your senses.
        </p>
      </div>
    </div>
    <div class="carousel-item main_imgs">
      <img
        class="d-block w-100"
        src="https://a0.muscache.com/im/pictures/505e4aa7-73ea-4287-bbde-64f1b6436fd8.jpg?im_w=720"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Majestic Mountain View Lodge</h3>
        <p>
          Witness awe-inspiring vistas, where lofty peaks meet the sky -
          nature's grand masterpiece.
        </p>
      </div>
    </div>
    <div class="carousel-item main_imgs">
      <img
        class="d-block w-100"
        src="https://images.pexels.com/photos/439227/pexels-photo-439227.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Urban Chic City Lof</h3>
        <p>
          Experience city sophistication, living stylishly at the heart of
          vibrant urban energy.
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- --------------------------------------------- -->

<div class="banner-container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img
        src="https://a0.muscache.com/im/pictures/83eda27f-50be-4356-8d74-0c40ef73226a.jpg?im_w=720"
        alt="Banner Image"
        class="img-fluid"
      />
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="content-container">
        <h1>Luxurious Home.</h1>
        <p>
          Your Gateway to the Best Rental Properties: Explore Our Home Rent
          Website.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Book Now</button>
      </div>
    </div>
  </div>
</div>
<div id="main_container">
  <div class="content_container">
    <div class="mini_content">
      <div>
        <h1>Luxurious Home.</h1>
      </div>
      <div style="height: 40px"></div>
      <div>
        <p>
          Your Gateway to the Best Rental Properties: Explore Our Home Rent
          Website.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Book Now</button>
      </div>
    </div>
  </div>

  <div class="img_continer">
    <img
      src="https://a0.muscache.com/im/pictures/83eda27f-50be-4356-8d74-0c40ef73226a.jpg?im_w=720"
      alt="banner"
    />
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container2">
  <div class="head">
    <h1>Opulent Living</h1>
  </div>

  <div id="image_container">
    <div class="left_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-746919020186561409/original/98f1a8c7-a263-46a8-8757-1f5d9d39f8bb.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>
        <h2>Grand</h2>
        <p>
          The grand ballroom exuded an aura of timeless elegance, adorned with
          crystal chandeliers and ornate gilded details, making it the perfect
          setting for a luxurious affair.
        </p>
      </div>
    </div>

    <div class="right_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-30924995/original/df2e1939-dbf6-4adb-8bb0-c9eb3a9176a1.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>

        <h2>First-class</h2>
        <p>
          The first-class cabin offered an unparalleled level of luxury, with
          plush seats, ample legroom, and personalized service for the
          discerning traveler.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner-container">
  <div class="head">
    <h2>Opulent Living</h2>
  </div>
  <div class="row">
    <!-- Left card -->
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-746919020186561409/original/98f1a8c7-a263-46a8-8757-1f5d9d39f8bb.jpeg?im_w=720"
          alt="Card Image 1"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Grand</h5>
          <p class="card-text">
            The grand ballroom exuded an aura of timeless elegance, adorned with
            crystal chandeliers and ornate gilded details, making it the perfect
            setting for a luxurious affair.
          </p>
        </div>
      </div>
    </div>

    <!-- Right card -->
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-30924995/original/df2e1939-dbf6-4adb-8bb0-c9eb3a9176a1.jpeg?im_w=720"
          alt="Card Image 2"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">First-class</h5>
          <p class="card-text">
            The first-class cabin offered an unparalleled level of luxury, with
            plush seats, ample legroom, and personalized service for the
            discerning traveler.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container">
  <div class="img_continer2">
    <img
      src="https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="banner"
    />
  </div>
  <div class="content_container">
    <div class="mini_content">
      <div>
        <h1>Premium Residence</h1>
      </div>
      <div style="height: 40px"></div>
      <div>
        <p>
          Lavish living with top-notch amenities in premium, detailed
          residences.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Visit Now</button>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="banner-container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img
        src="https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Banner Image"
        class="img-fluid"
      />
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="content-container">
        <h1>Premium Residence.</h1>
        <p>
          Lavish living with top-notch amenities in premium, detailed
          residences.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Book Now</button>
      </div>
    </div>
  </div>
</div>
<!-- -------------------------------------------------- -->
<div id="main_container2">
  <div class="head">
    <h1>Exclusive Abode</h1>
  </div>

  <div id="image_container">
    <div class="left_img">
      <div class="data-img">
        <img
          src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt=""
        />
        <div class="space2"></div>
        <h2>Penthouse</h2>
        <p>
          Opulent penthouse atop city skyline, featuring lavish amenities,
          unrivaled views, and luxurious living spaces.
        </p>
      </div>
    </div>

    <div class="right_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-795439140237488860/original/f9f266cb-f716-4b1e-8a01-a5f457697214.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>

        <h2>Penthouse suite</h2>
        <p>
          Opulent, expansive penthouse suite with stunning city vistas, lavish
          amenities, and refined contemporary design elements.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner-container">
  <div class="head">
    <h2>Opulent Living</h2>
  </div>
  <div class="row">
    <!-- Left card -->
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Card Image 1"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Penthouse</h5>
          <p class="card-text">
            Opulent penthouse atop city skyline, featuring lavish amenities,
            unrivaled views, and luxurious living spaces.
          </p>
        </div>
      </div>
    </div>

    <!-- Right card -->
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-795439140237488860/original/f9f266cb-f716-4b1e-8a01-a5f457697214.jpeg?im_w=720"
          alt="Card Image 2"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Penthouse suite</h5>
          <p class="card-text">
            Opulent penthouse atop city skyline, featuring lavish amenities,
            unrivaled views, and luxurious living spaces.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -----------Footer---------------- -->
<app-footer></app-footer>
