<div id="main_container">
  <div class="content_container">
    <div class="mini_content">
      <div>
        <h1>Luxurious Home.</h1>
      </div>
      <div style="height: 40px"></div>
      <div>
        <p>
          Your Gateway to the Best Rental Properties: Explore Our Home Rent
          Website.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Book Now</button>
      </div>
    </div>
  </div>
  <div class="img_continer">
    <img
      src="https://a0.muscache.com/im/pictures/83eda27f-50be-4356-8d74-0c40ef73226a.jpg?im_w=720"
      alt="banner"
    />
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container2">
  <div class="head">
    <h1>Opulent Living</h1>
  </div>

  <div id="image_container">
    <div class="left_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-746919020186561409/original/98f1a8c7-a263-46a8-8757-1f5d9d39f8bb.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>
        <h2>Grand</h2>
        <p>
          The grand ballroom exuded an aura of timeless elegance, adorned with
          crystal chandeliers and ornate gilded details, making it the perfect
          setting for a luxurious affair.
        </p>
      </div>
    </div>

    <div class="right_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-30924995/original/df2e1939-dbf6-4adb-8bb0-c9eb3a9176a1.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>

        <h2>First-class</h2>
        <p>
          The first-class cabin offered an unparalleled level of luxury, with
          plush seats, ample legroom, and personalized service for the
          discerning traveler.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container">
  <div class="img_continer2">
    <img
      src="https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="banner"
    />
  </div>
  <div class="content_container">
    <div class="mini_content">
      <div>
        <h1>Premium Residence</h1>
      </div>
      <div style="height: 40px"></div>
      <div>
        <p>
          Lavish living with top-notch amenities in premium, detailed
          residences.
        </p>
        <button type="button" class="btn btn-dark custom-btn">Visit Now</button>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------------- -->
<div id="main_container2">
  <div class="head">
    <h1>Exclusive Abode</h1>
  </div>

  <div id="image_container">
    <div class="left_img">
      <div class="data-img">
        <img
          src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt=""
        />
        <div class="space2"></div>
        <h2>Penthouse</h2>
        <p>
          Opulent penthouse atop city skyline, featuring lavish amenities,
          unrivaled views, and luxurious living spaces.
        </p>
      </div>
    </div>

    <div class="right_img">
      <div class="data-img">
        <img
          src="https://a0.muscache.com/im/pictures/miso/Hosting-795439140237488860/original/f9f266cb-f716-4b1e-8a01-a5f457697214.jpeg?im_w=720"
          alt=""
        />
        <div class="space2"></div>

        <h2>Penthouse suite</h2>
        <p>
          Opulent, expansive penthouse suite with stunning city vistas, lavish
          amenities, and refined contemporary design elements.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- -----------Footer---------------- -->
<app-footer></app-footer>
