.navbar .navbar-nav .nav-link {
  color: #000000;
}
.sm-icons {
  flex-direction: row;
}
.sm-icons .nav-link {
  padding-right: 1em;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: black;
  width: 0%;
  height: 2px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.logo {
  cursor: pointer;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #007bff;
  letter-spacing: 4px;
}
.cus_main_link {
  border-radius: 40px;
  margin-left: 2px;
  width: 30%;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cus_navr {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 3px;
  /* background-color: #ffe91f !important; */
}
#smallplace {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  width: 50%;
  margin: 5px auto;
}

#smallplace div {
  text-align: center;
  cursor: pointer;
}
#smallplace img {
  width: 20%;
}
#parent_small {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 3px;
  margin-top: 95px;
}
#icon {
  display: flex;
  justify-content: center;
  text-align: center;
}
#icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

@media screen and (min-width: 100px) and (max-width: 450px) {
  #smallplace {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    width: 100% !important;
  }
}
