<!-- host-card.component.html -->
<div class="card">
  <div class="card-header">Host Details</div>
  <div class="card-body">
    <div class="skeleton-image"></div>
    <h5 class="card-title skeleton-placeholder"></h5>
    <p class="card-text skeleton-placeholder"></p>
    <p class="card-text skeleton-placeholder"></p>
    <p class="card-text skeleton-placeholder"></p>
    <p class="card-text skeleton-placeholder"></p>
    <p class="card-text skeleton-placeholder"></p>
    <p class="card-text skeleton-placeholder"></p>
    <p class="card-text skeleton-placeholder"></p>
    <p class="card-text skeleton-placeholder"></p>
  </div>
</div>
