.container {
  width: 40%;
  box-shadow: #110c2e26 0px 48px 100px 0px;
  margin-top: 120px;
  padding: 20px;
  border-radius: 10px;
}
#date_type {
  display: flex;
  justify-content: space-between;
}
#date_type div {
  width: 50%;
}
