<hr />
<section class="contact-area" id="contact">
  <div class="container">
    <div class="row">
      <h1 id="logos">RentEZ</h1>
      <div class="col-lg-6 offset-lg-3">
        <div class="contact-content text-center">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
            ipsum
          </p>
          <div class="hr"></div>
          <h6>1120 Lorem ipsum dolor sit amet, KC 179050, Chandigarh.</h6>
          <h6>+01 2345 6789 12<span>|</span>+01 2345 6789 12</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>Copyright &copy; 2023 Reserved.</p>
</footer>
